@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
}

header {
    background-image: linear-gradient(rgba(106, 11, 214, 0.3), rgba(255, 255, 255, 0.99)), url(image/pexels-life-of-pix-4295.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header h1 {
    font-size: 5rem;
    color: rgba(255, 255, 255, 0.95);
    text-shadow: 0 0 5px rgba(106, 11, 214, 1);
}

header form {
    position: relative;
}

header form input[type="text"] {
    border: 0;
    width: 500px;
    padding: 10px 10px;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: 0 0 2px rgba(106, 11, 214, 1);
    color: rgba(106, 11, 214, 1);
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
}

header form input[type="text"]::placeholder {
    color: rgba(106, 11, 214, 0.6);
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
}

header form input[type="submit"] {
    padding: 10px 30px;
    border-radius: 30px;
    border: 0;
    position: absolute;
    color: rgba(255, 255, 255, 0.8);
    background-color: rgba(106, 11, 214, 1);
    top: 0px;
    right: 0px;
    /* transition: 0.1s padding; */
    /* text-transform: uppercase; */
    font-family: 'Nunito', sans-serif;

}

header form input:focus {
    outline: none;
}

header form input[type="submit"]:hover {
    padding: 9px 30px;
    top: 1px;
    right: 2px;
    cursor: pointer;
}

.result {
    padding: 70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.result .card {
    flex: 0 0 22%;
    border-radius: 20px;
    border: 3px solid rgba(106, 11, 214, 0.5);
    box-shadow: 0 0 20px gray;
    position: relative;
    margin-bottom: 35px;
    opacity: 0.7;
    transition: 0.3s ease;
}

.small-cards {
    flex: 0 0 10% !important;
    display: flex;
    height: 100px;
    align-items: center;
}

.result .card:hover {
    transform: scale(1.1);
    box-shadow: 0 0 5px rgba(106, 11, 214, 1);
    cursor: pointer;
    opacity: 1;
}

.result .card img {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    border-radius: 16px 16px 0 0;
    filter: grayscale(0%);
    z-index: -100;
}

.result p {
    text-align: center;
    padding: 30px;
    font-size: 1.1rem;
    color: rgba(106, 11, 214, 1);
}

.single-result {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.result-container {
    width: 600px;
    border: 2px solid rgba(106, 11, 214, 1);
    border-radius: 20px;
    box-shadow: 0 0 20px gray;
}

.result-container img {
    width: 100%;
    border-radius: 18px 18px 0 0;
}

.result-container .text-container h1 {
    text-align: center;
    color: lightgray;
    text-shadow: 0 0 5px rgba(106, 11, 214, 1);
    font-size: 2.8rem;
}

.ingredients {
    list-style: none;
    padding: 30px;
}

.result-container .text-container ul li span {
    color: rgba(106, 11, 214, 1);
    font-weight: 600;
    font-size: 1.1rem;
}

.result-container .text-container p.howto {
    padding: 20px 30px;
}

.result-container .text-container a {
    padding: 10px 30px;
    border: 2px solid rgba(106, 11, 214, 1);
    border-radius: 20px;
    color: rgba(106, 11, 214, 1);
    text-decoration: none;
    display: inline-block;
    margin: 30px;
    font-size: 1.2rem;
    font-weight: 600;
    transition: 0.7s ease;
}

.result-container .text-container a:hover {
    background: rgba(106, 11, 214, 1);
    color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 20px black;
}